% rebase('base.html')
<form method="POST">
    <div class="field">
        <label class="label">Lokacija</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="lokacija" type="text" placeholder="loakcija franšize"
                value="{{polja.get('lokacija', '')}}">
            <span class="icon is-small is-left">
                <i class="fas fa-clipboard-check"></i>
            </span>
        </div>
        % if napake:
        <p class="help is-danger">{{ napake["lokacija"] }}</p>
        % end
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Dodaj</button>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="/">Prekliči</a>
        </div>
    </div>
</form>